img {
  width: auto;
  height: 720px;
}
p {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  color: rgb(27, 23, 23);
}
h5 {
  text-align: left;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
}
